@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@400;700&family=Square+Peg&display=swap');
:root {
  --primary-red: rgb(252 165 165);;
  --primary-green: #008000;
}

body {
  background-color: var(--primary-red);
  color: var(--primary-green);
  font-family: 'DynaPuff', cursive;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.container {
  width: 300px;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check-number {
  display: block;
  margin-top: 1rem;
  margin: auto;
  background: transparent;
  color: var(--primary-green);
  border-color: var(--primary-green);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
